
.swiper_container{
    max-height: 100vh;
}

.swiper_container > div{
    max-height: 100vh;
}

.swiper {
    width: 100%;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .image_container{
      position: relative;
  }

  .image_container > div{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      color: white;
      font-family: 'Work Sans', sans-serif;
      background-color: rgba(3, 0, 78, 0.24);
      display: flex;
      flex-direction: column;
      padding: 10px;
      
  }

  .carousel_summer_container > h3{
    font-weight: 600;
    font-size: 28px;
    margin: 5px;
  }

  .carousel_summer_container > p{
    font-weight: 300;
    font-size: 10px;
    padding: 0px 30px;
    margin: 0;
  }

  .stars_container > img{
    width: 25px;
    height: 25px;
  }

  .stars_container{
    display: flex;
  }

  .swiper-pagination-bullet{
    background-color: #fff;
  }

  .swiper-button-next, .swiper-button-prev{
    color: #fff;
  }

  .carousel_summer_container{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 370px) {
    .carousel_summer_container > h3{
      font-size: 28px;
      margin-top: 10px;
    }
  
    .carousel_summer_container > p{
      font-size: 14px;
      padding: 0px 40px;
      margin-top: 5px;
    }
    .carousel_summer_container{
      justify-content: flex-start;
    }
   
  }

  @media (min-width: 425px) {
    .carousel_summer_container > h3{
      font-size: 34px;
    }
  
    .carousel_summer_container > p{
      font-size: 18px;
    }

    .stars_container > img{
      width: 28px;
      height: 28px;
    }
    .carousel_summer_container{
      justify-content: flex-start;
    }
  }



  @media (min-width: 550px) {
    .carousel_summer_container > h3{
      font-size: 38px;
      margin-top: 25px;
    }
  
    .carousel_summer_container > p{
      font-size: 22px;
    }
  }

  @media (min-width: 600px) {
    .carousel_summer_container > h3{
      font-size: 41px;
      margin-top: 35px;
    }
  
    .carousel_summer_container > p{
      font-size: 26px;
    }
  }


  @media (min-width: 700px) {
    .carousel_summer_container > h3{
      font-size: 45px;
    }
  
    .carousel_summer_container > p{
      font-size: 29px;
    }

    .stars_container > img{
      width: 30px;
      height: 30px;
    }
  
  }

  @media (min-width: 1000px) {
    .carousel_summer_container{
      justify-content: center;
      height: 400px;
    }

    .stars_container > img{
      width: 35px;
      height: 35px;
    }
  }