.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
  }

  .icon_container{
      display: flex;
      justify-content: center;
      width: 15%;
  }

  .searchbar_container{
    width: 85%;
  }

  
  .nav > .icon_container > img{
    cursor: pointer;
   width: 28px;
   height: 28px;
  }
  
  @media (min-width: 550px) {
    .icon_container{
      width: auto;
      margin-left: 5%;
  }
  .searchbar_container  > div {
    width: 100%;
    justify-content: flex-end;
    
  }
  }